/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end
  }

  main {
    background-color: black;
    height: 90vh;
    overflow: auto;
    padding: 3rem 2rem 1rem 2rem;
  }

  footer {
    background-color: #222222;
    height: 10vh;
  }

  .videocall-box {
    margin: .17rem;
  }

  .videocall-picture {
    width: 200px;
  }