/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

.flex {
display: flex;
justify-content: center;
align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-flex-end {
align-items: flex-end;
}

.justify-space-between {
justify-content: space-between;
}

main {
background-color: black;
height: 90vh;
overflow: auto;
padding: 3.5rem 2rem 0.5rem 2rem;
}

footer {
background-color: #222222;
height: 10vh;
}

.videocall-box {
position: relative;
margin: .2rem;
cursor: grab;
}

.videocall-picture {
width: 200px;
}

header .button-section {
position: absolute;
top: .3rem;
right: .3rem;
}

header .button {
background-color: #484848;
border-radius: .3rem;
color: white;
font-size: .7rem;
padding: .3rem;
cursor: pointer;
display: inline-block;
}

.user-name {
background-color: rgb(102, 113, 122, 0.7);
color: white;
position: absolute;
left: 0;
bottom: 0.22rem;
font-size: .7rem;
padding: .3rem;
}

footer .button-section {
color: white;
font-size: .7rem;
text-align: center;
height: 100%;
}

footer .button-section i {
font-size: 1.5rem;
}

footer .button-section i.arrow {
font-size: .6rem;
padding: 1rem 1rem 1rem 0.5rem;
}

footer .button-section i.arrow:hover {
    cursor: pointer;
    }

footer .button {
    height: 100%;
    padding: .6rem;
}

header .button:hover,
footer .button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

footer .button i {
    padding-bottom: .4rem;
}

.text-green {
    color: #49c900;
}

.end-meeting-button {
    background-color: #4a4a4a;
    font-size: .8rem;
    color: red;
}

