/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end
  }

  main {
    background-color: black;
    height: 90vh;
    overflow: auto;
    padding: 5rem 2rem 1rem 2rem;
  }

  footer {
    background-color: #222222;
    height: 10vh;
  }

  .videocall-box {
    margin: .2rem;
  }

  .videocall-picture {
    width: 200px;
  }

  .top-button-section {
    position: absolute;
    top: .3rem;
    right: .3rem;
  }

  .top-button {
    background-color: #484848;
    border-radius: .3rem;
    color: white;
    font-size: .7rem;
    padding: .3rem;
    cursor: pointer;
    display: inline-block;
  }